@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Quicksand&family=Righteous&family=Skranji:wght@400;700&display=swap');

#logoGym {
    width: 200px;
}

#logoCodoCodo {
    width: 100px;    
}

.cuerpo {
    width: 500px;
    height: 850px;    
}

body {
    margin: 0;
    width: 100%;
    min-height: 500px;
}

#slogan {
    width: 200%;    
}
  
header,
footer {
    background-color: #191825;
    color: #fff;    
    font-family: 'Josefin Sans', sans-serif;
}

main {
    background-color: #865dff62;
    color: #191825;
}

#cel {
    width: 60px;
    position: fixed;
    bottom: 100px;
    right: 100px;
}

video {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;    
    z-index: -1;
}

.navegador {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu {
    font-size: 60px;
    color: #fff;
    margin: 50px;    
}