@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500&display=swap');


*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;    
}
/*Barra de navegacion*/

footer{
    background: #36326a;

}
nav{
    box-sizing: border-box;
    font-family:"Josefin Sans", sans-serif;
    background: #191825;
    height: 80px;
    width: 100%;
    position: fixed;
    position: relative;
}

.enlace{
    position: absolute;
    padding: 15px 50px;
}
.logo{
    height: 50px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #FFA3FD;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
li a.active, li a:hover{
    color: #865DFF;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}


/* SECCION ABONOS */


.clima {
    background-color: #285e94;
    text-align: center;
    display: flex;
    font-family: "Quicksand", sans-serif;
}
.widget {
    width: 30%;
    padding: 11px;
    border-radius: 10px;
}
.container-abonos{
    display: flex;
    justify-content: center;
    padding: 25px;
    flex-wrap: wrap;
}

.container-clases {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    
}
.main-clases{
    margin-top: 4%;
    padding-bottom: 2%;
}


.card{
    background-color:#F8F8F8;
    width: 370px;
    height: 500px;
    margin: 10px;
    border-radius: 15px;
    text-align: center;
}

.card h3 {
    padding: 10px;
}

.card img{

    margin-bottom: 15px; 
    width: 100%;
}

/* <div class="card-image actividad${actividad.id}" style="background-image:url("${actividad.imagen}") "></div>

style="background-image:url('../img/codoacodo.png') */
/* PRIMER BOTON */

.main {
    background-image: url("../img/backgroundMain.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Quicksand", sans-serif;
}
h2{
    text-align: center;
    font-size: 4.5em;
    color: #F1F5F9;
  padding-top: 50px;
  
}
/* PRIMER BOTON */
.linkear  {
    background-color: black;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 10px;
    border-radius: 5px;
}
/* SEGUNDO BOTON */
button{
    background-color: black;
    color: white;
    padding: 15px 20px;
    text-align: center;
    margin: 20px 10px;
    border-radius: 5px;
}

.card:hover button{
    background-color: white;
    transition: all 1s ease;
}
.card-image{
    height: 170px;
    margin-bottom: 15px;
    border-radius:15px 15px 0 0 ;
    background-size: cover;
}

.card:hover{
background-color:rgb(39, 41, 41); 
cursor: pointer;
transform: scale(1.03);
transition: all 1s ease;
}

.card:hover a {
    background-color: #F1F5F9;
    transition: all 1s ease;
    color: black;
}

.card p {
    font-size: 14px;
    color: #181818;
    line-height: 150%;
}
.card:hover p  {
    color: white;
}
.card:hover h3{
    color: white;
    font-size: 1.5rem;

}



/* .card {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #865DFF;
    border-radius: 5%;
    border: solid white 2px;
    padding: 8px;
    margin: auto;
    box-shadow: 0 0 4px rgba(0,0,0,0.4);
    height: auto;
    
}

 


.card h3{
    font-weight: 900;
    font-size: 3em;
    color: #191825
}

.card button{
    padding: 12px 24px;
    font-weight: 600;
    background-color:#191825;
    /* #e0efff; */
    /* border-radius: 50px;
    border: none;
    margin: 2%;
    margin: 0 auto;
    display: block; */
  /* Button is a clickable element, therefore it should have a pointer cursor */
  /* cursor: pointer; */
/* } */ */
/* button a {
    color:#FFA3FD;
}
button:hover a{
    color: #0a1a2a;
} */

/* .card button a{
    background-color: red;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
} */

/* 
.actividad1{
    background-image: url("https://www.natation-chateauroux.fr/images/common/activites/2/image_2.jpg");

} */
/* .card img {
        width: 100%;
        border-radius: 12px;
        height: 214px;
        
    
} */



/*Pie de Pagina*/
.pie-pagina{
    width: 100%;
    height: 100%;
    background-color: #191825;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:90px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #E384FF;
    margin-bottom: 25px;
    font-size: 20px;    
}
.pie-pagina .grupo-1 .box p{
    color: #FFA3FD;
    margin-bottom: 10px;
    font-family:"Quicksand", sans-serif;
    text-align: justify;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: #865DFF;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;    
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
    font-family:"Quicksand", sans-serif;
}

.pie-pagina h2 {
    font-family:"Josefin Sans", sans-serif;
}


/*-----mediaqueries de header y footer--------*/

@media screen and (min-width: 600px) and (max-width: 1024px){ /*TABLETS*/
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 13px;
    }
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:50px;
        padding: 25px 0px;
    }
}

@media screen and (max-width: 600px){ /*CELULARES*/
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        min-height: 100%;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;        
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: #865DFF;
    }
    #check:checked ~ ul{     
        
        left: 0;
    }
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 15px 0px;
    }
}